@font-face {
	font-family: 'NucleoIcons';
	src: url(../../assets/fonts/nucleo-icons.eot) format('embedded-opentype'),
	url(../../assets/fonts/nucleo-icons.eot) format('embedded-opentype'),
	url(../../assets/fonts/nucleo-icons.woff2) format('woff2'),
	url(../../assets/fonts/nucleo-icons.woff) format('woff'),
	url(../../assets/fonts/nucleo-icons.ttf) format('truetype'),
	url(../../assets/fonts/nucleo-icons.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}